@import '../../styles/mixins';

.title {
  @include h1;
  clear: both;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin: 0 0 10px;
}

.embed {
  @include embed();
}

.iframe {
  margin: 0 0 20px;
}
