@import '../../styles/variables';
@import '../../styles/mixins';

.sections {
  max-width: 740px;
}

.button {
  @include load-more;
}

.box {
  margin-bottom: 40px;
}

.input {
  @include size-height(16, 20);

  border: 1px solid #eee;
  display: block;
  padding: 8px;
  width: 100%;
}

.label {
  @include upper-header;

  margin-bottom: 20px;
}

.a11y {
  display: none;
}
