@import '../../styles/variables';
@import '../../styles/mixins';

.title {
  @include h1;
  @include size-height(18, 24);
  clear: both;
  margin: 0 0 10px;

  a {
    color: #222;
    text-decoration: none;
  }
}

.embed {
  @include embed();
}
